#contacto {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 5%;

    .picture {
        width: 100%;
        height: 500px;
        margin: auto;
        display: block;
        border-radius: 25px;
        margin-top: 3%;
        border: 3px solid white;
    }

    H4 {
        font-size: 1.7em;
        color: cyan;
        text-shadow: blue 3px 1px;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
        font-family: 'Paytone One', sans-serif;
        letter-spacing: 2px;
        }

    nav {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        div {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-left: 15%;
            padding-right: 15%;

            .icon {
                width: 120%;
                border-radius: 20px;
                background: linear-gradient(rgb(0, 191, 255), black, black, rgb(0, 153, 255));
                box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 20px rgb(0, 153, 255);
                border: 3px solid black;


                &:hover {
                    transform: scale(1.3, 1.3);
                    transition: all .5s;
                    cursor: pointer;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding: 0% 20%;
            font-family: 'Paytone One', sans-serif;

            input {
                width: 100%;
                padding: 1%;
                margin: 0.5em;
                border: solid black 3px;
                background-color: rgb(131, 217, 252);
                text-align: center;
                box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 20px rgb(0, 153, 255);
            }

            .btn {
                display: flex;
                justify-content: center;
                align-content: center;
                color: grey;
                width: 30%;

                &:hover {
                    color: black;
                    box-shadow: 0 0 10px black, 0 0 20px black;
                }
            }

            .consulta {
                height: 5rem;
            }
        }
    }
}