#VIAJE {
    padding: 0% 5% 5% 5%;

    h1 {
        text-align: center;
        color: blue;
        text-shadow: 0 0 15px white;
        animation: animate 4s linear infinite;
        margin: 2% 0;
    }

    .div-travel {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        margin: 5% 10%;
        box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px blue;

        .nav-travel {
            display: flex;
            border-radius: 20px;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            width: 100%;
            height: 4em;
            background-color: black;
            border: solid white 3px;

            a {
                text-decoration: none;
                font-family: 'Paytone One', sans-serif;
                letter-spacing: 2px;
                font-size: 1.7em;
                color: white;
                text-align: center;
                text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        list-style: none;
        align-items: center;
        width: 100%;
        border: solid white 3px;
        border-radius: 40px;
        padding: 2%;
        background-color: black;
        box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px blue;


        h2 {
            font-family: 'Paytone One', sans-serif;
            letter-spacing: 2px;
            font-size: 2.5em;
            color: white;
            text-align: center;
            text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);
            padding: 3%;
        }

        p {
            text-align: center;
            font-family: 'Domine', serif;
            letter-spacing: .5px;
            font-size: 1.5em;
            color: white;

            img {
                width: 30%;
                margin: 5% 0;
                border-radius: 10%;
                border: 3px solid white;
            }
        }
        #carousel-ruta40 {
            position: relative;
            width: 500px;
            height: auto;
            border: 3px solid white;
        }
        #carousel-chile {
            position: relative;
            width: 500px;
            height: 500px;
            border: 3px solid white;
        }
    }
}