.main-equipo {
    width: 100%;

    h1 {
        color: blue;
        text-shadow: 0 0 15px white;
        animation: animate 4s linear infinite;
        margin: 2% 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 20px;
        flex-wrap: wrap;

        .card {
            background-color: black;
            padding: 1%;
            margin-bottom: 2%;
            align-items: center;
            width: 40%;
            border: 3px solid white;
            border-radius: 4%;
            filter: grayscale(100%);
            transition: all .5s;


            &:hover {
                transform: translateY(-10px);
                cursor: pointer;
                text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);
                box-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255), 0 0 40px rgb(78, 78, 246);
                filter: grayscale(0%);
            }

            img {
                border-radius: 4%;
                width: 100%;
                height: 400px;
                object-fit: cover;
            }

            .card-body {
                h3 {
                    font-family: 'Paytone One', sans-serif;
                    letter-spacing: 2px;
                    font-size: 1.7em;
                    color: white;
                    text-align: center;
                }

                ul {
                    list-style: none;
                    padding-top: 4%;
                    text-align: center;
                    padding-left: 0;
                }

                p {
                    font-size: 1.2em;
                    color: white;
                    font-family: 'Paytone One', sans-serif;
                }
            }
        }
    }
}



//     .card {
//         background-color: black;
//         padding: 1%;
//         margin-bottom: 2%;
//         width: 50%;

//         .card-img-top {
//             border-radius: 4%;
//         }

//         .f3 {
//             @extend %flexbox;
//             font-size: 1.7em;
//             color: $letter-color;
//             text-shadow: $shadow;
//         }
//     }

//     .card:hover {
//         cursor: pointer;
//         transform: translateY(-10px);
//         transition: all 1s;
//     }
// }