header {
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    font-size: 1.3em;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .logo {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;

            .smoke {
                position: relative;
                display: flex;
                padding: 0 20px;

                span {
                    z-index: .1;
                    position: relative;
                    display: block;
                    min-width: 20px;
                    bottom: 20px;
                    height: 40px;
                    background: white;
                    border-radius: 50%;
                    animation: animation_smoke 10s linear infinite;
                    opacity: 0;
                    filter: blur(9px);
                    animation-delay: calc(var(--i) * -0.5s);

                    @keyframes animation_smoke {
                        0% {
                            transform: translateY(0) scaleX(1);
                            opacity: 0;
                        }

                        15% {
                            opacity: 1;
                        }

                        50% {
                            transform: translateY(-150px) scaleX(5);
                        }

                        95% {
                            opacity: 0;
                        }

                        100% {
                            transform: translateY(-300px) scaleX(10);
                        }
                    }
                }
            }

            img {
                z-index: 0.5;
                margin-top: 20px;
                border-radius: 50%;
                border: 2px solid rgb(0, 0, 3);
                background-color: rgb(169, 215, 250);
                width: 200px;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px rgb(0, 191, 255), 0 0 40px rgb(0, 153, 255);
            }

            h1 {
                font-size: 4em;
                position: absolute;
                letter-spacing: .2em;
                font-family: 'Domine', serif;
                color: rgb(0, 255, 255);
                -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
                line-height: 0.7em;
                z-index: 1;
                outline: none;
                animation: animate 5s linear infinite;

                @keyframes animate {

                    0%,
                    18%,
                    20%,
                    50.1%,
                    60%,
                    65.1%,
                    80%,
                    90.1%,
                    92% {
                        color: #025d76;
                        box-shadow: none;
                    }

                    9%,
                    18.1%,
                    20.1%,
                    30%,
                    50%,
                    60.1%,
                    65%,
                    80.1%,
                    90%,
                    92.1%,
                    100% {
                        color: cyan;
                        text-shadow: 0 0 10px #03bcf4,
                            0 0 20px #03bcf4,
                            0 0 40px #03bcf4,
                            0 0 80px #03bcf4,
                            0 0 160px #03bcf4;
                    }
                }
            }
        }

        .nav {
            width: 100%;

            .dropdown {
                display: none;
            }

            ul {
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: space-around;
                list-style: none;
                padding: 2em 0;

                li {
                    a {
                        color: rgb(0, 255, 255);
                        text-decoration: none;
                        font-family: 'Paytone One', sans-serif;
                        font-size: 1.1em;
                        letter-spacing: 2px;
                        text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);


                        &:hover {
                            transition: .5s;
                            margin: 5px;
                            border-radius: 5%;
                            color: white;
                            text-shadow: 0 0 10px cyan, 0 0 40px rgb(0, 153, 255), 0 0 60px rgb(0, 179, 255), 0 0 80px rgb(53, 53, 245);
                        }
                    }
                }
            }

        }
    }
}