.main-info {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    width: 100%;
    padding: 2%;

    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: black;
        padding: 2% 5%;
        list-style: none;
        text-align: center;
        box-shadow: 0 0 10px rgb(0, 83, 156), 0 0 20px rgb(0, 4, 75);

        &:hover {
            transition: all .5s;
        }

        h3 {
            font-family: 'Paytone One', sans-serif;
            letter-spacing: 2px;
            font-size: 1.5em;
            color: white;
            text-align: center;
            text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);
            padding: 3%;
            text-align: center;
        }

        ul {
            padding: 0;
            li {
                list-style: none;

                h4 {
                    color: cyan;
                    text-shadow: blue 3px 2px;
                    font-size: 1.3em;
                    text-align: center;
                }

                p {
                    font-family: 'Domine', serif;
                    letter-spacing: 2px;
                    font-size: 1.2em;
                    color: white;
                    text-align: center;
                    padding: 3%;
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    text-align: center;

                    .link {
                        text-shadow: 0 0 10px cyan, 0 0 20px rgb(0, 153, 255);
                        color: white;
                        animation: animate 8s linear infinite;
                    }
                }

            }
        }
    }
}