@media (max-width:1024px) {
    main {
        .one {
            h2 {
                text-align: center;
                letter-spacing: 0px;
                font-size: 1.1em;
            }

            #carouselExampleSlidesOnly {
                height: 200px;

                .gif {
                    height: 200px;
                    object-fit: fill;
                }
            }
        }

        .two {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;

            .first {
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: center;

                .img1 {
                    width: 30%;
                }

            }

            h1 {
                padding-top: 50px;
            }

            .second {
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: center;

                .img2 {
                    width: 80%;
                    height: 320px;
                    object-fit: cover;
                    margin: 0;
                    padding: 0;
                }

            }


        }
    }
}

@media (max-width:768px) {

    /* --------------------------------- Header --------------------------------- */
    header {
        font-size: .7em;

        nav {
            .logo {
                .smoke {
                    display: none;
                }
            }

            .nav {
                ul {
                    font-size: .7rem;
                }

                .dropdown {
                    display: none;
                    width: 100%;

                    ul {
                        border: 2px white solid;
                        text-align: center;
                        background-color: rgba(0, 0, 0, 0.92);
                    }

                    button {
                        right: 0;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-end;
                        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
                        border: none;
                        box-shadow: none;

                    }
                }
            }
        }
    }



    /* --------------------------------- Footer --------------------------------- */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        .logo {
            flex-direction: column;

            img {
                width: 50%;
            }
        }

        .copyright {
            position: relative;
        }

        .redes {
            width: 100%;
            padding-bottom: 5%;
            margin: 0;
            align-items: center;
            justify-content: space-around;

            ul {
                display: flex;
                justify-content: space-around;
                width: 100%;
                column-gap: 20px;
                padding: 0;
                margin: 0;

                li {
                    padding: 0;
                    margin: 0;
                    box-shadow: none;
                }

            }
        }
    }

    /* ---------------------------------- Index --------------------------------- */
    main {
        .one {
            h2 {
                text-align: center;
                letter-spacing: 0px;
                font-size: 1.1em;
            }

            #carouselExampleSlidesOnly {
                height: 200px;

                .gif {
                    height: 200px;
                    object-fit: fill;
                }
            }
        }

        .two {
            h1 {
                padding-top: 50px;
            }

            .img1 {
                display: none;
            }

            .img2 {
                width: 100%;
                height: 320px;
                object-fit: cover;
                margin: 0;
                padding: 0;
            }



            div {
                display: flex;
                flex-direction: column;
            }
        }
    }

    /* --------------------------------- Equipo --------------------------------- */
    .main-equipo {
        h1 {
            font-size: 2em;
            text-align: center;
        }

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10%;

            .card {
                width: 100%;

                img {
                    height: auto;
                    padding: 3%;
                    border-radius: 10%;
                }
            }
        }
    }

    /* --------------------------------- Destino -------------------------------- */
    #VIAJE {

        .div-travel {
            font-size: .5em;
            width: 100%;
            margin: 10% 0;

            .nav-travel {
                height: 8em;
                width: 100%;
            }
        }

        ul {
            font-size: .7em;

            #carousel-ruta40 {
                position: relative;
                width: 100%;
                height: 300px;
                border: none;


                .carousel-inner {
                    div {
                        img {
                            height: 300px;
                            padding: 1%;
                        }
                    }
                }
            }

            #carousel-chile {
                position: relative;
                width: 100%;
                height: 300px;
                border: none;

                .carousel-inner {
                    div {
                        img {
                            height: 300px;
                            padding: 1%;
                        }
                    }
                }
            }
        }
    }

    /* ------------------------------- Información ------------------------------ */
    .main-info {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }


    /* --------------------------------- Galería -------------------------------- */
    .main-galeria {
        h1 {
            color: aqua;
            font-size: 2em;
        }

        .gallery {
            display: flex;
            flex-direction: column;

            div {
                &::before {
                    font-size: .8rem;
                }
            }
        }
    }
}

@media (max-width:425px) {
    body {
        font-size: .7em;

        header {

            nav {
                .logo {
                    img {
                        margin: 5%;
                        width: 120px;
                    }

                    h1 {
                        font-size: 3em;
                    }

                    .smoke {
                        display: none;
                    }
                }

                .nav {
                    ul {
                        display: none;
                    }

                    .dropdown {
                        display: block;
                        width: 100%;

                        button {
                            right: 0;
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: flex-end;
                            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
                            border: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

}